# ============================================
# AJAY VC MUSIC BOT - Environment Variables
# ============================================

# From https://my.telegram.org -> API development tools
API_ID=35828291
API_HASH=c025ee9d01d73b9d738d4f3e5e6137e2

# From @BotFather
BOT_TOKEN=8631333041:AAHWj3Ut17BSn4laROufER6gF24eA0Hqj2c

# Username of your bot (without @)
BOT_USERNAME=AjayVCmusicBot

# REQUIRED: Pyrogram v2 USER session string (NOT bot)
# Generate locally: python -m AjayMusic.utils.gen_session
SESSION_STRING=BQIiskMAVA6lEUPzkmTtQn7zh__KAJn0nzSuebU2tw30rtVbz4Tq4Ai03em8OlirqyZxa2ZNAgY2SBf87wY4hsiBin7uN7SYE6y4JSWtzKnGep3IfQe3rJE2-iGE1-0loCRhLLs_ZduSfyTIR7JXFP984-1_ZTwDQu_dGEXpc2a_2acwT4skZRj8mHUgT1SKW5JtEpf3CA8e2xiazKVHtz-jUI7w1wLHpQBm9iUGoaQ9poZQeMt1D8FhIDO335CzgUlwpZkYZ7B_gPg7gPXKfuz9V0OqFEYnZ5pYTNwRM45fWx_ozUfnNP8HAeJLhGRtGPtJeyI0Qyygui_2YSjjQ-Zd6vh5cQAAAAIHIiSYAA

# Owner
OWNER_ID=7953454559

# Spotify (optional)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Branding
OWNER_USERNAME=agajayofficial
MAIN_CHANNEL=https://t.me/AjayFFCommunity
SECOND_CHANNEL=https://t.me/agajayofficialgiveway
PRIVATE_CHANNEL=https://t.me/+K_QvCsPtHPNkNTdl

# Render
PORT=8080
